# Data Science Tools and Ecosystem

In this notebook, data science tools and ecosystems are summarized

Some of the popular data science languages used are:

1. Python
2. R
3. Java

Some of the commonly used libraries used by data scientists are:

1. ggplot
2. Numpy
3. Scipy

|Data Science Tools|
|------------------|
| Data management|
|Data Integration |
|Data Analysis|
| Data visualisation|
|Machine learning|
|

#H3 Below are a few examples of evaluating arithmetic expression in python
# Adding two numbers
result = 5 + 3
print(result)  # Output: 8
# Subtracting two numbers
result = 10 - 4
print(result)  # Output: 6
# Multiplying two numbers
result = 7 * 6
print(result)  # Output: 42

In [1]:
# This is a simple arithmetic expression to multiply then add integer
Result = (3*4)+5
print(Result)

17

In [2]:
#This will convert 200minutes to hours by dividing by 60
Result = 200/60
print(Result, "hours")

3.3333333333333335 hours

In [3]:
**Objectives**
* Python
* R
* Java
* SQL

SyntaxError: invalid syntax (1519442464.py, line 1)

In [4]:
_Objectives_
* Python
* R
* Java
* SQL

SyntaxError: invalid syntax (2934435998.py, line 1)

In [5]:
_Objectives_
* Python
* R
* Java
* SQL

SyntaxError: can't use starred expression here (2711105431.py, line 5)

_Objectives_
* Python
* R
* Java
* SQL

H2 Author
Yukou Sakai